<!DOCTYPE html>
<html>
<head>
    <title>Tier 2 Exam</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Tier 2</h1>
    <form method="POST" action="/tier2_result">
        {% for section in questions %}
        <h2>{{ section['section'] }}</h2>
        {% for question in section['data'] %}
        <div class="question-container">
            <!-- <p>{{ question['question'] }}</p> -->
            <p>{{ question['question'].replace('\n', '<br>')|safe }}</p>
            
            {% if question['image'] %}
            <img src="{{ url_for('static', filename=question['image']) }}" alt="Question Image">
            {% endif %}
            <br>
            <div class="options-container">
                {% for option in question['options'] %}
                <label>
                    <input type="radio" name="{{ question['q_id'] }}" value="{{ option }}">
                    {% if '.png' in option or '.jpg' in option or '.jpeg' in option %}
                    <img src="{{ url_for('static', filename=option) }}" alt="Option Image" style="width: 150px; height: auto;">
                    {% else %}
                    {{ option }}
                    {% endif %}
                </label><br>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
    